In [ ]:
import pandas as pd    # Lendo o arquivo

df_brasil_populacao = pd.read_csv("./brazil_population.csv")

In [ ]:
df_brasil_populacao.head(3)  # Visualizando os as 3 primeiras linhas

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Brazil Global Rank
0,2020,212559417,0.72,1509890,21200,33.5,1.74,25,87.6,186217070,2.73,7794798739,6
1,2019,211049527,0.75,1580204,21200,31.8,1.76,25,87.4,184407548,2.74,7713468100,6
2,2018,209469323,0.79,1635500,21200,31.8,1.76,25,87.1,182546459,2.74,7631091040,6

In [ ]:
df_brasil_populacao.tail(3)   # Visualizando as ultimas 3 linhas

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Brazil Global Rank
15,1965,83373530,2.93,2238861,0,18.3,5.97,10,51.1,42615168,2.50,3339583597,8
16,1960,72179226,2.91,1929061,0,18.6,6.06,9,46.2,33315588,2.38,3034949748,8
17,1955,62533919,2.99,1711838,59635,18.9,6.10,7,41.1,25688833,2.26,2773019936,8

In [ ]:
df_brasil_populacao.sample(7)   # Visualizando 7 linhas aleatorias

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Brazil Global Rank
3,2017,207833823,0.81,1670770,21200,31.8,1.76,25,86.9,180633872,2.75,7547858925,6
7,2005,186127103,1.26,2267353,0,27.1,2.13,22,83.2,154831640,2.85,6541907027,5
4,2016,206163053,0.83,1691284,21200,31.8,1.76,25,86.7,178669587,2.76,7464022049,5
1,2019,211049527,0.75,1580204,21200,31.8,1.76,25,87.4,184407548,2.74,7713468100,6
6,2010,195713635,1.01,1917306,0,29.2,1.86,23,84.8,165969018,2.81,6956823603,5
12,1980,120694009,2.40,2695561,0,20.3,4.24,14,65.7,79320279,2.71,4458003514,6
11,1985,135274080,2.31,2916014,0,21.4,3.80,16,70.1,94786793,2.78,4870921740,6

In [ ]:
df_brasil_populacao.columns   # Acessando os nomes das colunas

Index(['Year', 'Population', 'Yearly % Change', 'Yearly Change',
       'Migrants (net)', 'Median Age', 'Fertility Rate', 'Density (P/Km²)',
       'Urban Pop %', 'Urban Population', 'Country's Share of World Pop',
       'World Population', 'Brazil Global Rank'],
      dtype='object')

In [7]:
df_brasil_populacao.shape       #  Verificando o tamanho do meu dataset

(18, 13)

In [ ]:
df_brasil_populacao[["Year", "Population"]]         # Verificando duas colunas 
                                    # Para conseguir acessar duas colunas ou mais, é necessário colocar uma lista dentro do parametro.

    Year  Population
0   2020   212559417
1   2019   211049527
2   2018   209469323
3   2017   207833823
4   2016   206163053
5   2015   204471769
6   2010   195713635
7   2005   186127103
8   2000   174790340
9   1995   162019896
10  1990   149003223
11  1985   135274080
12  1980   120694009
13  1975   107216205
14  1970    95113265
15  1965    83373530
16  1960    72179226
17  1955    62533919

In [ ]:
df_brasil_populacao[["Year", "Population"]].head()    # Visualizando com a função head() que limita a visualização para 5 linhas

   Year  Population
0  2020   212559417
1  2019   211049527
2  2018   209469323
3  2017   207833823
4  2016   206163053

In [ ]:
df_brasil_populacao.info()      # Visualizando as informações do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          18 non-null     int64
 1   Population                    18 non-null     int64
 2   Yearly % Change               18 non-null     float64
 3   Yearly Change                 18 non-null     int64
 4   Migrants (net)                18 non-null     int64
 5   Median Age                    18 non-null     float64
 6   Fertility Rate                18 non-null     float64
 7   Density (P/Km²)               18 non-null     int64
 8   Urban Pop %                   18 non-null     float64
 9   Urban Population              18 non-null     int64
 10  Country's Share of World Pop  18 non-null     float64
 11  World Population              18 non-null     int64
 12  Brazil Global Rank            18 non-null     int64
dtypes: float64(5), int64(8)
memory usage: 2.0 KB

In [ ]:
df_brasil_populacao.describe()      # visualização estatisticas

In [14]:
df_describe = df_brasil_populacao.describe()    # Guardando as informações dentro de uma variável

df_describe

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Brazil Global Rank
count,18.000000,1.800000e+01,18.000000,1.800000e+01,18.000000,18.000000,18.000000,18.000000,18.000000,1.800000e+01,18.000000,1.800000e+01,18.000000
mean,1994.166667,1.553103e+08,1.713889,2.121503e+06,9378.888889,25.322222,3.278333,18.444444,73.027778,1.212805e+08,2.691667,5.694506e+09,6.055556
std,22.350813,5.333306e+07,0.862030,4.614891e+05,15774.762845,5.712376,1.687261,6.363704,15.768688,5.881803e+07,0.164433,1.786229e+09,1.109967
min,1955.000000,6.253392e+07,0.720000,1.509890e+06,0.000000,18.300000,1.740000,7.000000,41.100000,2.568883e+07,2.260000,2.773020e+09,5.000000
25%,1976.250000,1.105857e+08,0.842500,1.696422e+06,0.000000,19.700000,1.762500,13.250000,62.175000,6.889207e+07,2.650000,4.174111e+09,5.000000
50%,1997.500000,1.684051e+08,1.610000,2.083961e+06,0.000000,24.600000,2.595000,20.000000,79.550000,1.341389e+08,2.745000,5.943853e+09,6.000000
75%,2015.750000,2.057402e+08,2.415000,2.520714e+06,21200.000000,31.700000,4.532500,24.750000,86.625000,1.781656e+08,2.795000,7.442966e+09,6.750000
max,2020.000000,2.125594e+08,2.990000,2.916014e+06,59635.000000,33.500000,6.100000,25.000000,87.600000,1.862171e+08,2.850000,7.794799e+09,8.000000

In [ ]:
df_brasil_populacao["Fertility Rate"].unique()   # Verificando os valores unicos de uma coluna específica

array([1.74, 1.76, 1.77, 1.86, 2.13, 2.47, 2.72, 3.14, 3.8 , 4.24, 4.63,
       5.34, 5.97, 6.06, 6.1 ])

In [ ]:
df_brasil_populacao.count()   # Visualizando a quantidade de linhas com valores não nulos de cada coluna

Year                            18
Population                      18
Yearly % Change                 18
Yearly Change                   18
Migrants (net)                  18
Median Age                      18
Fertility Rate                  18
Density (P/Km²)                 18
Urban Pop %                     18
Urban Population                18
Country's Share of World Pop    18
World Population                18
Brazil Global Rank              18
dtype: int64

In [ ]:
df_brasil_populacao["Median Age"].count()   # Visualizando a quantidade de linhas com valores não nulos da coluna "Median Age"

np.int64(18)

In [ ]:
df_brasil_populacao["Fertility Rate"].nunique()   # Visualizando a quantidade de valores únicos que existem na coluna

15

In [ ]:
df_brasil_populacao["Fertility Rate"].value_counts()   # Visualizando a distribuição dos dados da coluna "Fertility Rate"

Fertility Rate
1.76    4
1.74    1
1.77    1
1.86    1
2.13    1
2.47    1
2.72    1
3.14    1
3.80    1
4.24    1
4.63    1
5.34    1
5.97    1
6.06    1
6.10    1
Name: count, dtype: int64

In [ ]:
df_brasil_populacao.head().sort_values("Population")  # Visualizando a população mínima (selecionando as 5 primeiras linhas)

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Brazil Global Rank
4,2016,206163053,0.83,1691284,21200,31.8,1.76,25,86.7,178669587,2.76,7464022049,5
3,2017,207833823,0.81,1670770,21200,31.8,1.76,25,86.9,180633872,2.75,7547858925,6
2,2018,209469323,0.79,1635500,21200,31.8,1.76,25,87.1,182546459,2.74,7631091040,6
1,2019,211049527,0.75,1580204,21200,31.8,1.76,25,87.4,184407548,2.74,7713468100,6
0,2020,212559417,0.72,1509890,21200,33.5,1.74,25,87.6,186217070,2.73,7794798739,6

In [ ]:
df_brasil_populacao["Median Age"].min()   # Visualizando o valor mínimo da coluna "Median Age"

np.float64(18.3)

In [ ]:
df_brasil_populacao["Median Age"].max()   # Visualizando o valor máximo da coluna "Median Age"

np.float64(33.5)

In [ ]:
df_brasil_populacao["Median Age"].sum()     # Visualizando a soma da coluna "Median Age"

np.float64(455.8)

In [ ]:
df_brasil_populacao["Median Age"].mean().round(2)   # Visualizando a média da coluna "Median Age"

np.float64(25.32)